{% extends 'base.html' %}

{% load static %}

{% block title %}{{ name }}{% endblock title %}

{% block head %}

    <link rel="canonical" href="{{ site_url }}/collection/{{ user_friendly_id }}"/>

    <meta
            property="og:title"
            content="{{ name }}">
    <meta
            name="description"
            content="{{ description }}">
    <meta property="og:description"
          content="{{ description }}">

    <meta property="og:url" content="{{ site_url }}/collection/{{ user_friendly_id }}">

    <meta property="og:image" content="{{ site_url }}/collection/{{ user_friendly_id }}/image">

{% endblock head %}

{% block content %}

    <div class="container-flex">

        <div class="container bg-white px-5 pb-5 center-container my-4">

            <div class="container text-right">
                <img src="{{ site_url }}/collection/{{ user_friendly_id }}/cover" alt="Cover image" class="cover-img">
                <p class="text-muted my-2">Last fetched: {{ last_fetched_at }}</p>
            </div>

            <div class="container mt-4">
                <span class="badge badge-success">Collection</span>
                <h1 class="display-4 mb-3">{{ name }}</h1>
                <span class="lead text-muted">User-friendly collection ID: <b>{{ user_friendly_id }}</b></span>
                <br>
                <span class="lead text-muted">HEX collection ID: <b>{{ hex_id }}</b></span>
            </div>

            <div class="container my-4 text-center">
                <div class="img-block mx-auto">
                    <div class="text-center">
                        <img src="{{ site_url }}/collection/{{ user_friendly_id }}/image" alt="{{ name }}"
                             class="photo-img">

                        {% if external_url is not None %}
                            <br>
                            <a {% if allow_links is False %}rel="nofollow"{% else %}{% endif %}
                               href="{{ external_url }}" target="_blank">
                                <button type="button" class="btn btn-primary btn-open btn-lg my-2">
                                    View collection ↗
                                </button>
                            </a>
                        {% else %}

                        {% endif %}

                    </div>
                </div>
            </div>

            {% if owner is not None %}
                <div class="container">
                    <p class="lead">
                        Author: <a class="navlink" href="{{ site_url }}/wallet/{{ owner.user_friendly_id }}">

                        {% if owner.name is not None %}
                            <b>{{ owner.name }}</b>
                        {% else %}
                            <b>{{ owner.user_friendly_id }}</b>
                        {% endif %}
                    </a>
                    </p>
                </div>
            {% else %}
                <div class="container">
                    <p class="lead">This collection is special.</p>
                </div>
            {% endif %}
            <div class="container">
                <h2 class="mb-3 text-muted">Description</h2>
                <p class="lead">{{ description }}

                    {% if marketplace is not None %}
                        <br><br>
                        This collection was created via the {{ marketplace }} marketplace.

                    {% else %}

                    {% endif %}

                <p class="lead">There are <b>{{ nfts_count }}</b> NFTs in this collection.</p>

                </p>
            </div>

            {% if social_links|length > 0 %}
                <div class="container">
                    <h3 class="mb-3 text-muted">Social links</h3>
                    <ul class="list-group">
                        {% for link in social_links %}
                            <a {% if allow_links is False %}rel="nofollow"{% else %}{% endif %} href="{{ link.url }}"
                               target="_blank">
                                <li class="list-group-item my-1">{{ link.name }} ↗</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}

            {% endif %}

            <div class="container">
                <h2 class="mb-3 mt-4 text-muted">Trending NFTs from <b>{{ name }}</b></h2>
            </div>


            <div class="container mb-3">
                <div class="container-flex d-flex flex-wrap justify-content-center">
                    {% for popular_nft in popular_nfts %}

                        <a class="collection-card-link" href="{{ site_url }}/nft/{{ popular_nft.user_friendly_id }}">
                            <div class="card my-2 mx-1 item-card">
                                <img src="{{ popular_nft.image }}" class="card-img-top tile-img"
                                     alt="{{ popular_nft.name }}">
                                <p class="card-text text-muted mx-3 mt-2">{% if popular_nft.last_fetched_at is None %}No transactions{% else %}{{ popular_nft.transactions_num }} transactions{% endif %}</p>
                                <div class="card-body px-2 pb-2 pt-0">
                                    <h5 class="card-text m-2"> {{ popular_nft.name }}</h5>
                                </div>
                            </div>
                        </a>

                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

{% endblock content %}