{% extends 'base.html' %}

{% load static %}

{% block title %}TON NFT Search{% endblock title %}

{% block head %}
    <link rel="canonical" href="{{ site_url }}"/>

    <meta
            property="og:title"
            content="Telegram Open Network (TON) Blockchain Search Engine">
    <meta
            name="description"
            content="Effortlessly navigate the Telegram Open Network (TON) blockchain with free-text search.">
    <meta property="og:description"
          content="Effortlessly navigate the Telegram Open Network (TON) blockchain with free-text search.">

    <meta property="og:url" content="{{ site_url }}">

    <meta property="og:image" content="{% static 'thumbnail.png' %}">

{% endblock head %}

{% block content %}

    <div class="container text-center">
        <p class="lead text-white my-5">
            TON (Telegram Open Network) is a blockchain platform developed by Telegram. It offers a decentralized
            network with a self-governance blockchain. Toncoin (TON) is its native cryptocurrency used for transactions,
            network operations, and various applications, like NFTs.
        </p>

        <div class="row mt-3">
            <div class="col-md-6 col-lg-3 pb-5">
                <div class="card text-dark h-100">
                    <div class="card-body">
                        <h3 class="card-title text-ton">Collections</h3>
                        <p class="card-text text-ton">Number of NFT collections</p>
                        <p class="card-text text-center display-4">{{ collections_num }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="card text-dark h-100">
                    <div class="card-body">
                        <h3 class="card-title text-ton">NFTs</h3>
                        <p class="card-text text-ton">NFTs in all collections</p>
                        <p class="card-text text-center display-4">{{ nfts_num }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="card text-dark h-100">
                    <div class="card-body">
                        <h3 class="card-title text-ton">NFT holders</h3>
                        <p class="card-text text-ton">Number of NFT holder wallets</p>
                        <p class="card-text text-center display-4">{{ wallets_num }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="card text-dark h-100">
                    <div class="card-body">
                        <h3 class="card-title text-ton">NFTs on sale</h3>
                        <p class="card-text text-ton">Number of NFTs on sale</p>
                        <p class="card-text text-center display-4">{{ nfts_on_sale_num }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container text-center">
        <h1 class="text-center text-white mt-2 mb-3">Popular NFT Collections</h1>
    </div>

    <div class="container-flex d-flex flex-wrap justify-content-center px-5 mb-5">

        {% for collection in collections %}
            <a class="collection-card-link" href="{{ site_url }}/collection/{{ collection.user_friendly_id }}">
                <div class="card my-3 mx-1 collection-card">
                    <img src="{{ collection.image }}" class="card-img-top tile-img" alt="{{ collection.name }}">
                    <p class="card-text text-muted mx-3 mt-3">{{ collection.nfts_count }} items</p>
                    <div class="card-body px-3 pb-3 pt-0">
                        <h5 class="card-text">{{ collection.name }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>


{% endblock content %}
