{% extends 'base.html' %}

{% load static %}

{% block title %}NFT{% endblock title %}

{% block head %}


{% endblock head %}

{% block content %}

    <div class="container-flex">

        <div class="container bg-white px-5 pb-5 pt-3 center-container my-4">
            <div class="container text-right">
                <p class="text-muted my-2">Last fetched: {{ last_fetched_at }}</p>
            </div>

            <div class="container mt-4">
                <span class="badge badge-primary">NFT</span>
                <h1 class="display-4 mb-3">{{ name }}</h1>
                <span class="lead text-muted">User-friendly NFT ID: <b>{{ user_friendly_id }}</b></span>
                <br>
                <span class="lead text-muted">HEX NFT ID: <b>{{ hex_id }}</b></span>
            </div>

            <div class="container my-4 text-center">
                <div class="img-block mx-auto">
                    <div class="text-center">
                        <img src="{{ image }}" alt="NFT image" class="photo-img">

                        {% if external_url is not None %}
                            <br>
                            <a rel="nofollow" href="{{ external_url }}" target="_blank">
                                <button type="button" class="btn btn-primary btn-open btn-lg my-2">
                                    External link ↗
                                </button>
                            </a>
                        {% else %}

                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="container">
                <p class="lead">Author: <b>{{ owner_address }}</b></p>
            </div>

            <div class="container">
                <h2 class="mb-3 text-muted">Description</h2>
                <p class="lead">{{ description }}

                    {% if marketplace is not None %}
                        <br><br>
                        This collection was created via the {{ marketplace }} marketplace.

                    {% else %}

                    {% endif %}

                </p>
            </div>

            <div class="container">
                <a class="navlink" href="{{ site_url }}/collection/{{ collection.user_friendly_id }}"><h3 class="mb-4 d-inline-block navlink">Collection</h3></a>
                <p class="lead">Collection name: <b>{{ collection.name }}</b></p>
                <p class="lead">Collection description: <b>{{ collection.description }}</b></p>
                <p class="lead">NFTs in collection: <b>{{ collection.nfts_count }}</b></p>
            </div>

            <div class="container">
                <h3 class="mb-3 text-muted">Meta information</h3>
                <p class="lead">Verified: <b>{{ verified }}</b></p>
                <p class="lead">Approved by: <b>{{ approved_by }}</b></p>
                <p class="lead">Attributes: <b>{{ attributes }}</b></p>
                <p class="lead">Sale: <b>{{ sale }}</b></p>
            </div>

            {% if social_links|length > 0 %}
                <div class="container">
                    <h3 class="mb-3 text-muted">Social links</h3>
                    <ul class="list-group">
                        {% for link in social_links %}
                            <a rel="nofollow" href="{{ link.url }}" target="_blank">
                                <li class="list-group-item my-1">{{ link.name }} ↗</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}

            {% endif %}
        </div>

    </div>

{% endblock content %}