{% extends 'base.html' %}

{% load static %}

{% block title %}NFT{% endblock title %}

{% block head %}
    <link rel="canonical" href="{{ site_url }}/nft/{{ user_friendly_id }}"/>

    <meta
            property="og:title"
            content="{{ name }}">
    <meta
            name="description"
            content="{{ description }}">
    <meta property="og:description"
          content="{{ description }}">

    <meta property="og:url" content="{{ site_url }}/nft/{{ user_friendly_id }}">

    <meta property="og:image" content="{{ site_url }}/nft/{{ user_friendly_id }}/image">

{% endblock head %}

{% block content %}

    <div class="container-flex">

        <div class="container bg-white px-5 pb-5 pt-3 center-container my-4">
            <div class="container text-right">
                <p class="text-muted my-2">{% if last_fetched_at is None %} This NFT was not fetched yet{% else %}
                    Last fetched: {{ last_fetched_at }}
                {% endif %}
                </p>
            </div>

            <div class="container mt-4">
                <span class="badge badge-primary">NFT</span>
                <h1 class="display-4 mb-3">{{ name }}</h1>
                <span class="lead text-muted">User-friendly NFT ID: <b>{{ user_friendly_id }}</b></span>
                <br>
                <span class="lead text-muted">HEX NFT ID: <b>{{ hex_id }}</b></span>
            </div>

            <div class="container my-4 text-center">
                <div class="img-block mx-auto">
                    <div class="text-center">
                        <img src="{{ site_url }}/nft/{{ user_friendly_id }}/image" alt="NFT image" class="photo-img">

                        {% if external_url is not None %}
                            <br>
                            <a rel="nofollow" href="{{ external_url }}" target="_blank">
                                <button type="button" class="btn btn-primary btn-open btn-lg my-2">
                                    External link ↗
                                </button>
                            </a>
                        {% else %}

                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="container">

                <p class="lead">
                    Owner: <a class="navlink" href="{{ site_url }}/address/{{ owner.user_friendly_id }}">

                    {% if owner.name is not None %}
                        <b>{{ owner.name }}</b>
                    {% else %}
                        <b>{{ owner.user_friendly_id }}</b>
                    {% endif %}
                </a>
                </p>

                {% if collection_owner is not None %}
                    <p class="lead">
                        Collection author: <a class="navlink"
                                              href="{{ site_url }}/address/{{ collection_owner.user_friendly_id }}">

                        {% if collection_owner.name is not None %}
                            <b>{{ collection_owner.name }}</b>
                        {% else %}
                            <b>{{ collection_owner.user_friendly_id }}</b>
                        {% endif %}
                    </a>
                    </p>
                {% else %}
                    <p class="lead">This NFT is special.</p>
                {% endif %}

            </div>
            <div class="container">
                <h2 class="mb-3 text-muted">Description</h2>
                <p class="lead">

                    {% if description is not None and description != "" %}
                        {{ description }}
                    {% else %}
                        No NFT description found in metadata.
                    {% endif %}
                    {% if verified is True %}
                        <br><br>
                        This NFT is <b>verified</b>.
                    {% else %}
                        <br><br>
                        This NFT is <b>not verified</b>.
                    {% endif %}
                </p>

                {% if attributes|length > 0 %}
                    <table class="table my-4">
                        <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for attribute in attributes %}
                            <tr>
                                <td>{{ attribute.trait_type }}</td>
                                <td>{{ attribute.value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                {% endif %}


                {% if approved_by|length > 0 %}
                    <p class="lead">Approved by:</p>
                    <ul>
                        {% for approved in approved_by %}
                            <li class="lead">{{ approved }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                {% endif %}

                </p>

                <a data-toggle="collapse" href="#transactions" role="button" aria-expanded="false" aria-controls="transactions"><p
                        class="lead d-inline-block">Transactions count: <b>{{ transactions_num }}</b></p></a>

                <div class="collapse mb-3" id="transactions">
                    <div class="card card-body">
                        <ul>
                            {% for transaction in transactions %}
                                <li>
                                    <span><a href="{{ site_url }}/address/{{ transaction.sender }}">{{ transaction.sender }}</a>
                                    → <a href="{{ site_url }}/address/{{ transaction.recipient }}">{{ transaction.recipient }}</a></span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>

            <div class="container">
                <a class="navlink" href="{{ site_url }}/collection/{{ collection.user_friendly_id }}"><h3
                        class="mb-4 d-inline-block navlink">Collection</h3></a>
                <p class="lead">Collection name: <b>{{ collection.name }}</b></p>
                <p class="lead">Collection description: <b>{{ collection.description }}</b></p>
                <p class="lead">NFTs in collection: <b>{{ collection.nfts_count }}</b></p>
            </div>

            {% if social_links|length > 0 %}
                <div class="container">
                    <h3 class="mb-3 text-muted">Social links</h3>
                    <ul class="list-group">
                        {% for link in social_links %}
                            <a rel="nofollow" href="{{ link.url }}" target="_blank">
                                <li class="list-group-item my-1">{{ link.name }} ↗</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}

            {% endif %}
        </div>

    </div>

{% endblock content %}