{% extends 'base.html' %}

{% load static %}

{% block title %}{{ query }}{% endblock title %}

{% block head %}


{% endblock head %}

{% block content %}

    <div class="container text-center">
        <h1 class="text-center mt-5 text-white">Search results</h1>
        <p class="lead text-white">{{ collections_count }} collections, {{ nfts_count }} NFTs, {{ wallets_count }}
            wallets found</p>
    </div>

    <div class="container-flex d-flex flex-wrap justify-content-center px-5">

        {% for collection in collections %}
            <a class="collection-card-link" href="{{ site_url }}/collection/{{ collection.user_friendly_id }}">
                <div class="card my-3 mx-1 collection-card">
                    <img src="{{ collection.image }}" class="card-img-top tile-img" alt="{{ collection.name }}">

                    <p class="card-text text-muted mx-3 mt-3">{{ collection.nfts_count }} items <span
                            class="badge badge-success">Collection</span></p>
                    <div class="card-body px-3 pb-3 pt-0">
                        <h5 class="card-text">{{ collection.name }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}

        {% for nft in nfts %}
            <a class="collection-card-link" href="{{ site_url }}/nft/{{ nft.user_friendly_id }}">
                <div class="card my-3 mx-1 collection-card">
                    <img src="{{ nft.image }}" class="card-img-top tile-img" alt="{{ nft.name }}">

                    <p class="card-text text-muted mx-3 mt-3">
                        {% if nft.last_fetched_at is None %}
                            <br>
                        {% else %}
                            {{ nft.transactions_num }} transactions
                        {% endif %}
                        <span class="badge badge-primary">NFT</span></p>
                    <div class="card-body px-3 pb-3 pt-0">
                        <h5 class="card-text">{{ nft.name }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}

        {% for wallet in wallets %}
            <a class="collection-card-link" href="{{ site_url }}/address/{{ wallet.user_friendly_id }}">
                <div class="card my-3 mx-1 collection-card">
                    <img src="{{ site_url }}/address/{{ wallet.user_friendly_id }}/image" class="card-img-top tile-img" alt="
                    {% if wallet.name is None %}
                        {{ wallet.user_friendly_id }}
                    {% else %}
                    {{ wallet.name }}
                    {% endif %}">
                    <p class="card-text text-muted mx-3 mt-3">Holds {{ wallet.nfts_count }} NFTs

                    <span class="badge badge-secondary">Address</span>
                    </p>
                    </p>

                    <div class="card-body px-3 pb-3 pt-0">
                        <h5 class="card-text">
                            {% if wallet.name is None %}
                                {{ wallet.user_friendly_id }}
                            {% else %}
                                {{ wallet.name }}
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>

    <div class="container d-flex my-3">
        <div class="container d-flex justify-content-center">
            <nav aria-label="Search results pagination">

                <div class="container text-center">
                    <p class="text-white">Page {{ page_number }} of {{ num_of_pages }}</p>
                </div>

                <ul class="pagination text-ton">
                    <li class="page-item {% if previous_page_number is None %} disabled {% else %} {% endif %}">
                        <a class="page-link" href="/nfts/{{ previous_page_number }}">⬅️</a>
                    </li>
                    {% if previous_page_number is None %} {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="/nfts/{{ previous_page_number }}">{{ previous_page_number }}</a>
                        </li> {% endif %}

                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="/nfts/{{ page_number }}">{{ page_number }}</a>
                    </li>


                    {% if next_page_number is None %} {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="/nfts/{{ next_page_number }}">{{ next_page_number }}</a>
                        </li>{% endif %}


                    <li class="page-item {% if next_page_number is None %} disabled {% else %} {% endif %}">
                        <a class="page-link" href="/nfts/{{ next_page_number }}">➡️</a>
                    </li>
                </ul>

            </nav>


        </div>
    </div>

{% endblock content %}