{% extends 'base.html' %}

{% load static %}

{% block title %}Wallet{% endblock title %}

{% block head %}
    <link rel="canonical" href="{{ site_url }}/wallet/{{ user_friendly_id }}"/>

    <meta
            property="og:title"
            content="{% if name is None %}{{ user_friendly_id }}{% else %}{{ name }}{% endif %}">
    <meta
            name="description"
            content="{{ description }}">
    <meta property="og:description"
          content="{{ description }}">

    <meta property="og:url" content="{{ site_url }}/nft/{{ user_friendly_id }}">

    <meta property="og:image" content="{{ site_url }}/nft/{{ user_friendly_id }}/image">

{% endblock head %}

{% block content %}

    <div class="container-flex">

        <div class="container bg-white px-5 pb-5 pt-3 center-container my-4">
            <div class="container text-right">
                <p class="text-muted my-2">{% if last_fetched_at is None %} This address was not fetched yet{% else %}
                    Last fetched: {{ last_fetched_at }}
                {% endif %}
                </p>
            </div>

            <div class="container mt-4">
                <span class="badge badge-secondary">Wallet</span>
                {% if name is None %}
                    <h1 class="display-4 mb-3 break-word">{{ user_friendly_id }}</h1>
                {% else %}
                    <h1 class="display-4 mb-3">{{ name }}</h1>
                    <span class="lead text-muted">User-friendly wallet ID: <b>{{ user_friendly_id }}</b></span>
                {% endif %}

                <br>
                <span class="lead text-muted">HEX wallet ID: <b>{{ hex_id }}</b></span>
            </div>

            {% if icon is not None %}
                <div class="container my-4 text-center">
                    <div class="img-block mx-auto">
                        <div class="text-center">
                            <img src="{{ site_url }}/wallet/{{ user_friendly_id }}/image"
                                 alt="{% if name is None %}{{ user_friendly_id }}{% else %}{{ name }}{% endif %}"
                                 class="photo-img">
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="container">
                <h3 class="mb-3 text-muted">Description</h3>
                <p class="lead">Balance: <b>{{ balance }}</b></p>
                <p class="lead">Last activity: <b>{{ last_activity }}</b></p>
                <p class="lead">Status: <b>{{ status }}</b></p>
                <p class="lead">Interfaces: <b>{{ interfaces }}</b></p>
                <p class="lead">Is wallet: <b>{{ is_wallet }}</b></p>
                <p class="lead">Is scam: <b>{{ is_scam }}</b></p>
                <p class="lead">Nfts count: <b>{{ nfts_count }}</b></p>
            </div>
        </div>

{% endblock content %}